.App {
  text-align: center;
  background-color: #282c00;
  height: 100%;
  width: 100%;
}

#navbar
{
  height: 10%;
  width: 100%;
}

#content
{
  height: 80%;
  width: 100%;
}

#footer
{
  height: 10%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid {
  display: flex;
  justify-content: space-between; 
}

#ChartSelector
{
  height: 40%;
  margin: 5%;
  background-color: white;
  border-radius: 10px;
}

.form-group
{
  text-align: left;
}

.form-control
{
  background-color: black;
  color: white;
  width: 20%;
}

label
{
  margin: 5px;
}

#submit
{
  margin: 20px;
}

#rightcontainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}
